html, body {
    font-family: "arial",Lato, Arial, sans-serif;
}

#response { display:none; padding: 5px; text-align: center;}
.success { background-color: green;}
.error { background-color: red;}
form#orderForm { line-height: 1.5em; margin: auto; width: 640px;}
button { padding: 10px 20px; background-color: #5C97BF; color: #fff; border: none; font-size: 16px; margin: 20px auto; width: 300px; cursor: pointer;border-radius: 5px;}
input,textarea {min-width: 300px; line-height: 24px; margin-bottom: 10px;padding:8px;}
button:focus,
textarea:focus,
input:focus {
outline: none;
}
.logo {color: #2C3E50;}

@media (max-width:428px){
form#emailForm {width: 90%;}
button,input,textarea {width: 100%;}
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
